<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta content="text/html;charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>welcome to starlighttweet</title>
	</head>
	<body>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">列表</h3>
			</div>
			<div class="panel-body">
				<ul class="list-group">
					<li class="list-group-item" th:each="tweet:${tweets}">
						<img th:src="${'/icons/'+tweet.author.name+'.jpg'}" height="100px" width="100px">
						<span th:text="${tweet.author.name}"></span>
						<span th:text="${tweet.content}"></span>
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>